@import "../global/GlobalVariables";
footer{
    background-color: $color-tertiary !important;
    width: 100%;
    font-family: $font-family;
}
.heading-footer{
    color: $text-color-light-primary;
    font-size: calc(6px + 0.5vw);
    min-width: 95px;
    
}
.genres-link{
    min-width: 230px;
    line-height: 21px;
}
a{
    margin-top: 0.5vw;
    font-size: calc(8px + 0.5vw);
}
.blocks{
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links{
    width: 70%;
    min-width: 90px;
    padding-left: 0;
}
.block{
    flex: 1 0 25%;
    max-width: 30%;
    min-height: 60px;
}
.block1{
    flex: 1 0 25%;
    max-width: 100%;
    min-height: 200px;
}
.block nav{
    min-width: 50px !important;
}