@import "../global/GlobalVariables";
footer{
    background-color: $color-tertiary !important;
    width: 100%;
    font-family: $font-family;
}
.heading-footer{
    color: $text-color-light-primary;
    font-size: calc(6px + 0.5vw);
    min-width: 95px;
}
.genres-link{
    min-width: 95px;
    width: 15vw;
    line-height: 21px;
}
a{
    margin-top: 0.5vw;
    font-size: calc(8px + 0.5vw);
}
.footer-links{
    width: 100%;
    min-width: 100px;
    padding-left: 0;
}
.blocks{
    width: 80%;
    margin-left: 20vw;
    margin-right: 10vw;
    margin-top: 130px;
}
.blocks nav{
    max-width: 50%;
    min-height: 60px;
}
.blocks ul{
    padding: 0 !important;
}
.footer-p{
    padding-right: 3vw;
    max-height: 320px;
    height: 20vw;
}
.footer-ps{
    padding-left: 3vw;
    min-height: 240px !important;
    height: 25vw;
}
