@import "../global/GlobalVariables";
footer{
    background-color: $color-tertiary !important;
    width: 100%;
    min-height: 25vw;
    font-family: $font-family;
}
.heading-footer{
    color: $text-color-light-primary;
    font-size: calc(9px + 0.5vw);
    margin-bottom: 0.5vw;
    min-width: 230px;
    width: 5vw;
    margin-top: 3vw;
}
.genres-link{
    width: 5vw;
    min-width: 230px;
    line-height: 21px;
}
a{
    margin-top: 0.5vw;
    font-size: calc(8px + 0.5vw);
}
.block{
    margin-right: 2vw;
}
.blocks{
    margin:auto;
}
ul{
    padding: 0 !important;
}