@import "../global/GlobalVariables";

header{
    background-color: $color-tertiary;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
    width: 100%;
    min-height: 70px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
}
.logo{
    width: auto;
    height: 7vw;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3vw;
}
.log-in{
    width: auto;
    height: 2vw;
    min-height: 50%;
    filter: brightness(85%);
}
.book-shelf{
    width: auto;
    height: 2vw;
    filter: brightness(85%);
}
.gift{
    width: auto;
    height: 1.8vw;
    filter: brightness(85%);
    margin-bottom: 10px;
}
.btn-header{
    padding-left: 2.5vw;
}
.center-elements{
    text-align: center;
    padding-right: 2vw;
    margin-top: 0.6em;
}
p{
    margin: 0px !important;
}
a{
    color: $text-color-light-secondary !important;
    text-decoration: none !important;
    font-size: calc(7px + 0.4vw) !important;
}
a {
    margin-top: 0.5vw;
    // font-size: calc(7px + 0.4vw) ;
}
a:visited {
    color: $text-color-light-secondary !important;
} 
a:hover {
    color: $text-color-light-primary !important; /* Цвет ссылки при наведении */
}
a:hover img{
    filter: brightness(100%);
}
.mini-icons{
    width: calc(7px + 1vw);
    height: calc(7px + 1vw);
    padding-right: 0.3vw;
    filter: brightness(85%);
}
.menu{
    padding: 0;
    margin-left: 3vw;
    margin-bottom:2vw ;
}
.menu a{
    padding-right: 1vw;
}
.menu a:hover img{
    filter: brightness(100%);
}
.search-and-menu{
    margin-top: 1vw;
    margin-left: 8%;
}
.w-min{
    white-space: nowrap;
}