@import "../global/GlobalVariables";
input{
    width: 60vw;
    height: 2.8em;
    border-radius: 8px 0px 0px 8px;
    border: 0px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    margin-left: 0.5vw !important;
}
.advanced-search{
    width: 2.8em !important;
    height: 2.8em !important;
    margin-bottom: 50px;
}
.img-advanced-search{
    width: 70%;
}
.search-btn{
    width: 3em !important;
    height: 2.8em !important;
    border-radius: 0px 8px 8px 0px !important;
}
.img-search{
    width: 70%;
}
.search{
    padding-top: 1.5vw;
}

