@import "../global/GlobalVariables";
.header-search-input{
    width: 55vw;
    height: 33px;
    min-height: 2.8vw;
    border-radius: 8px 0px 0px 8px;
    border: 0px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    margin-left: 0.5vw !important;
}
.advanced-search{
    min-width: 2.8vw !important;
    min-height: 2.8vw !important;
    height: 20px;
}
.img-advanced-search{
    min-width: 1.8vw;
    min-height: 1.8vw;
    height: 20px;
}
img:hover{
    filter: brightness(90%);
}
.search-btn{
    min-width: 3vw !important;
    min-height: 2.8vw !important;
    height: 20px;
    border-radius: 0px 8px 8px 0px !important;
}
.img-search{
    min-width: 1.8vw;
    min-height: 1.8vw;
    height: 20px;
}


