@import "../global/GlobalVariables";

.product-quotes{
    background-color: $color-tertiary;
    color: $text-color-light-primary;
}
.quotes{
    background-color: $color-quaternary;
    color: $text-color-dark-primary;
    width: 100%;
    font-size: calc(6px + 0.5vw) !important;
    font-weight: lighter;
    min-width: 250px;
    box-shadow: 4px 4px 15px rgba(242, 242, 234, 0.4);
}
.icons-quotes{
    min-width: 25px;
    width: 3%;
    position:relative ; 
    top: calc(8.5px + 0.4vw); 
    left: calc(8.5px + 0.5vw);
}
.quote-like{
    min-width: 20px;
    width: 3%;

}
.quote-dislike{
    min-width: 20px;
    width: 3%;

}
.btn-quote{
    width: 15vw;
    min-width: 120px;
    max-width: 200px;
    margin: 0 auto;
    display: block !important;
}
.btn-like{
    width: 30px;
}
.btn-like-activeted img{
    filter: brightness(0.5);
}
.btn-dislike-activeted img{
    filter: invert(1); 
}