@import "../global/GlobalVariables";

.product-quotes{
    background-color: $color-tertiary;
    color: $text-color-light-primary;
}
.quotes{
    background-color: #fff;
    color: $text-color-dark-primary;
    width: 62%;
    font-size: calc(6px + 0.5vw) !important;
    font-weight: lighter;
    min-width: 350px;
}
.icons-quotes{
    min-width: 20px;
    width: 2%;
    position:relative ; 
    top: calc(6px + 0.5vw); 
    left: calc(6px + 0.5vw);
}