@import "../global/GlobalVariables";

.reviews-box{
    background-color: $color-quaternary;
    width: 62%;
    font-size: calc(6px + 0.5vw) !important;
    font-weight: lighter;
    min-width: 350px;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.reviews-data{
    background-color: $bc-primary;
    border-radius: 6px 6px 0px 0px;
}
.review-userName{
    font-weight: 500;
}
.review-date{
    font-size: calc(6px + 0.3vw) !important;
}
.btn-reviews{
    width: 15vw;
    min-width: 120px;
    max-width: 200px;
}
.avatar{
    width: 4vw;
    min-width: 30px;
    max-width: 40px;
}
.review-add{
    background-color: $color-quaternary;
    width: 62%;
    font-size: calc(6px + 0.5vw) !important;
    font-weight: lighter;
    min-width: 350px;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.add-review{
    background-color: $bc-primary;
    max-width: 60% !important;
    min-width: 45% !important;
    height: 35px !important;
    min-height: 20% !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.btn-addReview{
    width: 15vw;
    min-width: 65px;
    max-width: 200px;
    font-size: calc(6px + 0.5vw) !important;
}
::placeholder {
    font-size: calc(10px + 0.3vw) !important;
  }