@import "../global/GlobalVariables";

.h2{
    font-size: calc(10px + 0.8vw);
}
.profile-input input{
    width: 11vw;
    min-width: 135px;
    border-radius: 8px;
    padding-left: 1vw;
    height: 33px;
    min-height: 2.8vw;
    border: 0px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.profile-p{
    font-size: calc(8px + 0.4vw);
    font-weight: 300;
    width: 60%;
}
.profile-checkbox input{
    min-width: 15px !important;
    width: 2vw !important;
    max-width: 20px !important;
    height: 2vw;
    max-height: 20px;
    min-height: 10px ;
}
.profile-checkbox label{
    font-size: calc(7px + 0.5vw) !important;
    font-weight: 400;
}
.profile-checkbox b{
    color: $color-primary;
}
.btn-profile-save{
    max-width: 280px !important;
    width: 25vw;
    min-width: 120px !important;
    font-weight: 600 !important;
    font-size: calc(7px + 0.6vw) !important;
    padding-top: 0.6vw !important;
    padding-bottom: 0.6vw !important;
    min-height: 30px !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}
.profile-text-limiter{
    max-width: 575px !important;
}
.btns-changes{
    max-height: 45px;
    height: 4vw;
    min-height: 30px;
    font-size: calc(8px + 0.4vw) !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}
.profile-avatar{
    min-width: 35px;
    width: 5vw;
}
.h3{
    font-size: calc(10px + 0.5vw) !important;
}
.btn-file{
    min-width: 98px !important;
    width: 20vw !important;
    max-width: 300px;
}
.profile-ok{
    min-width: 10px;
    width: 5vw;
    max-width: 15px;
}
.profile-nook{
    min-width: 10px;
    width: 5vw;
    max-width: 18px;
}
.success{
    max-height: 45px;
    width: 20vw;
    font-size: calc(5px + 0.6vw) !important;
    max-width: 250px !important;
    min-width: 130px !important;
    min-height: 15px !important;
    padding-top: 1vw !important;
    margin-top: 10px !important;
    --bs-alert-color: $color-primary !important;
    --bs-alert-bg: #d1e7dd !important;
    --bs-alert-border-color: #badbcc !important;
    --bs-alert-border: 3px outset #335B50 !important;
    font-size: 15px;
    font-weight: 500;
}
.danger{
    max-height: 45px;
    width: 20vw;
    font-size: calc(5px + 0.6vw) !important;
    max-width: 250px !important;
    min-width: 130px !important;
    min-height: 15px !important;
    padding-top: 1vw !important;
    margin-top: 10px !important;
    --bs-alert-color: #842029;
    --bs-alert-border: 3px outset #842029!important;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
    font-size: 15px;
    font-weight: 500;
}