@import "../global/GlobalVariables";

.bookshelf-category img{
    min-width: 15px !important;
    min-height: 15px !important;
    height: 1.5vw !important;
    width: 1.5vw !important;
    max-width: 20px;
    max-height: 20px;
}
.bookshelf-category{
    border: 0;

}
.bookshelf-category-selected{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color:  $color-primary !important;
}
.bookshelf-category-selected p{
    color: $color-primary !important;
    font-weight: 600 !important;
}