@import "../global/GlobalVariables";

form{
    min-width: 30vw;
    min-height: 30vh;
    max-width: 480px;
    max-height: 470px;
    margin: 1vw;
    background-color: #FDFDFD;
}

.text-button:hover{
    text-decoration: underline;

    --bs-btn-hover-color: #140f0f;
    --bs-btn-hover-bg: hsla(208, 7%, 46%, 0);
    --bs-btn-hover-border-color: #6c757d00;
}
