@import "../global/GlobalVariables";

.list-unstyled{
    font-size: calc(7px + 0.4vw) !important;
    min-width: 170px;
    width: 15vw;
}
.list-unstyled img{
    min-width: 15px;
    width: 2vw;
    max-width: 23px;
}
.profile-list-item{
    font-weight: 400;
    padding-bottom: 10px;
}
.profile-list-item-selected button{
    color: $color-primary !important;
    font-weight: 600;
    border-width: 0px 0px 3px 0px !important; 
    border-style: solid !important;
}
.profile-list-item-selected img{
    filter: blur() !important;
}