/*$text-color-dark-secondary:*/
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #335B50 !important;
  --bs-btn-border-color: #335B50 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #295045 !important;
  --bs-btn-hover-border-color: #295045 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #335B50 !important;
  --bs-btn-active-border-color: #335B50 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-tertiary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0F0D18 !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #335B50 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-quaternary {
  --bs-btn-color: #0F0D18 !important;
  --bs-btn-bg: #F2F2EA !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #0F0D18 !important;
  --bs-btn-hover-bg: #e2e2da !important;
  --bs-btn-hover-border-color: #0F0D18 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #0F0D18 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-fivefold {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #75B4A2 !important;
  --bs-btn-border-color: #75B4A2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #75B4A2 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.bordered-primary-text {
  border: solid #335B50;
  background-color: #335B50;
  color: #F2F2EA;
  font-weight: bold;
}

.bordered-tertiary-text {
  border: solid #0F0D18;
  background-color: #0F0D18;
  color: #F2F2EA;
  font-weight: bold;
}

.bookshelf-category img {
  min-width: 15px !important;
  min-height: 15px !important;
  height: 1.5vw !important;
  width: 1.5vw !important;
  max-width: 20px;
  max-height: 20px;
}

.bookshelf-category {
  border: 0;
}

.bookshelf-category-selected {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #335B50 !important;
}

.bookshelf-category-selected p {
  color: #335B50 !important;
  font-weight: 600 !important;
}/*# sourceMappingURL=BookShelf.css.map */