/*$text-color-dark-secondary:*/
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #335B50 !important;
  --bs-btn-border-color: #335B50 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #295045 !important;
  --bs-btn-hover-border-color: #295045 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #335B50 !important;
  --bs-btn-active-border-color: #335B50 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-tertiary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0F0D18 !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #335B50 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-quaternary {
  --bs-btn-color: #0F0D18 !important;
  --bs-btn-bg: #F2F2EA !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #0F0D18 !important;
  --bs-btn-hover-bg: #e2e2da !important;
  --bs-btn-hover-border-color: #0F0D18 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #0F0D18 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-fivefold {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #75B4A2 !important;
  --bs-btn-border-color: #75B4A2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #75B4A2 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.bordered-primary-text {
  border: solid #335B50;
  background-color: #335B50;
  color: #F2F2EA;
  font-weight: bold;
}

.bordered-tertiary-text {
  border: solid #0F0D18;
  background-color: #0F0D18;
  color: #F2F2EA;
  font-weight: bold;
}

.success {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
  margin-top: 10px !important;
}

.danger {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 27px;
  width: 2.9vw;
  min-height: 18px;
  height: 1.7vw;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  border: 3px solid;
  border-radius: 6px !important;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4vw;
  min-height: 15px;
  min-width: 15px;
  width: 1.4vw;
  left: 0;
  right: 0;
  top: 1;
  bottom: 0;
  border-radius: 2px !important;
  background-color: #0F0D18;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #335B50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #335B50;
}

input:checked + .slider:before {
  transform: translateX(1.2vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  background-color: #0F0D18 !important;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.heading-footer {
  color: #F2F2EA;
  font-size: calc(6px + 0.5vw);
  min-width: 95px;
}

.genres-link {
  min-width: 95px;
  width: 15vw;
  line-height: 21px;
}

a {
  margin-top: 0.5vw;
  font-size: calc(8px + 0.5vw);
}

.footer-links {
  width: 100%;
  min-width: 100px;
  padding-left: 0;
}

.blocks {
  width: 80%;
  margin-left: 20vw;
  margin-right: 10vw;
  margin-top: 130px;
}

.blocks nav {
  max-width: 50%;
  min-height: 60px;
}

.blocks ul {
  padding: 0 !important;
}

.footer-p {
  padding-right: 3vw;
  max-height: 320px;
  height: 20vw;
}

.footer-ps {
  padding-left: 3vw;
  min-height: 240px !important;
  height: 25vw;
}/*# sourceMappingURL=Footer.css.map */