@charset "UTF-8";
/*$text-color-dark-secondary:*/
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #335B50 !important;
  --bs-btn-border-color: #335B50 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #295045 !important;
  --bs-btn-hover-border-color: #295045 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #335B50 !important;
  --bs-btn-active-border-color: #335B50 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-tertiary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0F0D18 !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #335B50 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-quaternary {
  --bs-btn-color: #0F0D18 !important;
  --bs-btn-bg: #F2F2EA !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #0F0D18 !important;
  --bs-btn-hover-bg: #e2e2da !important;
  --bs-btn-hover-border-color: #0F0D18 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #0F0D18 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-fivefold {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #75B4A2 !important;
  --bs-btn-border-color: #75B4A2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #75B4A2 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.bordered-primary-text {
  border: solid #335B50;
  background-color: #335B50;
  color: #F2F2EA;
  font-weight: bold;
}

.bordered-tertiary-text {
  border: solid #0F0D18;
  background-color: #0F0D18;
  color: #F2F2EA;
  font-weight: bold;
}

.success {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
  margin-top: 10px !important;
}

.danger {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 27px;
  width: 2.9vw;
  min-height: 18px;
  height: 1.7vw;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  border: 3px solid;
  border-radius: 6px !important;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4vw;
  min-height: 15px;
  min-width: 15px;
  width: 1.4vw;
  left: 0;
  right: 0;
  top: 1;
  bottom: 0;
  border-radius: 2px !important;
  background-color: #0F0D18;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #335B50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #335B50;
}

input:checked + .slider:before {
  transform: translateX(1.2vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

header {
  background-color: #0F0D18;
  width: 100%;
  min-height: 70px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 15vw;
  min-width: 60px;
  max-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3vw;
}

.log-in {
  width: auto;
  height: 2vw;
  min-height: 50%;
  filter: brightness(85%);
}

.book-shelf {
  width: auto;
  min-width: 15px;
  min-height: 15px;
  height: 2vw;
  filter: brightness(85%);
}

.gift {
  width: auto;
  min-width: 12px;
  min-height: 12px;
  height: 2vw;
  filter: brightness(85%);
  margin-bottom: 3px;
}

.btn-header {
  padding-left: 2.5vw;
}

.center-elements {
  text-align: center !important;
  padding-right: 2vw;
  margin-top: 0.6em;
}

p {
  margin: 0px !important;
}

a {
  color: #B3B3A5 !important;
  text-decoration: none !important;
  font-size: calc(7px + 0.4vw) !important;
}

a:visited {
  color: #B3B3A5 !important;
}

a:hover {
  color: #F2F2EA !important; /* Цвет ссылки при наведении */
}

a:hover img {
  filter: brightness(100%);
}

.mini-icons {
  width: calc(7px + 1vw);
  height: calc(7px + 1vw);
  padding-right: 0.3vw;
  filter: brightness(85%);
}

.menu {
  padding: 0;
  margin-left: 3vw;
  margin-bottom: 2vw;
  width: 60vw !important;
}

.menu a {
  padding-right: 1vw;
}

.menu a:hover img {
  filter: brightness(100%);
}

.search-and-menu {
  margin-top: 1vw;
  margin-left: 5vw;
}

.w-min {
  white-space: nowrap;
}

.flex-container {
  width: 85%;
}

.flex-container a {
  text-align: center;
  line-height: 20px;
}

.position-relative nav {
  min-height: 40px;
}

.bookshelf {
  width: 99%;
}/*# sourceMappingURL=Header.css.map */