@charset "UTF-8";
/*$text-color-dark-secondary:*/
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #335B50 !important;
  --bs-btn-border-color: #335B50 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #295045 !important;
  --bs-btn-hover-border-color: #295045 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #335B50 !important;
  --bs-btn-active-border-color: #335B50 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-tertiary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0F0D18 !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #335B50 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-quaternary {
  --bs-btn-color: #0F0D18 !important;
  --bs-btn-bg: #F2F2EA !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #0F0D18 !important;
  --bs-btn-hover-bg: #e2e2da !important;
  --bs-btn-hover-border-color: #0F0D18 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #0F0D18 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-fivefold {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #75B4A2 !important;
  --bs-btn-border-color: #75B4A2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #75B4A2 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.bordered-primary-text {
  border: solid #335B50;
  background-color: #335B50;
  color: #F2F2EA;
  font-weight: bold;
}

.bordered-tertiary-text {
  border: solid #0F0D18;
  background-color: #0F0D18;
  color: #F2F2EA;
  font-weight: bold;
}

.product-title {
  font-size: calc(8px + 0.5vw);
}

.produсе-feature {
  font-size: calc(8px + 0.5vw);
  font-weight: 500;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

.product-format {
  min-width: 15px;
}

.product-recomended-age {
  min-width: 15px;
}

.data-book {
  font-size: calc(6px + 0.5vw);
}

.icon-product {
  max-height: 18px !important;
  margin-top: 3px;
  margin-right: 5px;
}

.product-rate {
  color: #335B50;
  font-size: calc(8px + 0.5vw);
  text-align: center;
}

.product-rate-exactly {
  font-size: calc(6px + 0.5vw);
  min-width: 55px;
}

.product-review-exactly {
  font-size: calc(6px + 0.5vw);
}

.product-review {
  color: #335B50;
  font-size: calc(8px + 0.5vw);
}

.product-rating {
  border-style: none solid none none;
  border-width: 1px;
}

.btn-square {
  width: 38px;
  padding: 0 !important;
}

.det-info {
  font-size: calc(8px + 0.5vw);
}

.detailed-information {
  font-size: calc(6px + 0.5vw);
}

.product-fragment {
  min-width: 100px;
}

.btn-buy b {
  max-width: 100%;
  min-width: 20px;
}

.foto-book {
  min-width: 200px;
  max-width: 280px;
  width: 20vw;
}/*# sourceMappingURL=ProductDetails.css.map */