/*$text-color-dark-secondary:*/
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #335B50 !important;
  --bs-btn-border-color: #335B50 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #295045 !important;
  --bs-btn-hover-border-color: #295045 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #335B50 !important;
  --bs-btn-active-border-color: #335B50 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-tertiary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #0F0D18 !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #335B50 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-quaternary {
  --bs-btn-color: #0F0D18 !important;
  --bs-btn-bg: #F2F2EA !important;
  --bs-btn-border-color: #0F0D18 !important;
  --bs-btn-hover-color: #0F0D18 !important;
  --bs-btn-hover-bg: #e2e2da !important;
  --bs-btn-hover-border-color: #0F0D18 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #0F0D18 !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.btn-fivefold {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #75B4A2 !important;
  --bs-btn-border-color: #75B4A2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #2b273f !important;
  --bs-btn-hover-border-color: #75B4A2 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #0F0D18 !important;
  --bs-btn-active-border-color: #0F0D18 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #0d6efd !important;
  --bs-btn-disabled-border-color: #0d6efd !important;
}

.bordered-primary-text {
  border: solid #335B50;
  background-color: #335B50;
  color: #F2F2EA;
  font-weight: bold;
}

.bordered-tertiary-text {
  border: solid #0F0D18;
  background-color: #0F0D18;
  color: #F2F2EA;
  font-weight: bold;
}

.success {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
  margin-top: 10px !important;
}

.danger {
  max-height: 50px;
  height: 5vw;
  min-height: 25px;
  padding-top: 1vw !important;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 27px;
  width: 2.9vw;
  min-height: 18px;
  height: 1.7vw;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  border: 3px solid;
  border-radius: 6px !important;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4vw;
  min-height: 15px;
  min-width: 15px;
  width: 1.4vw;
  left: 0;
  right: 0;
  top: 1;
  bottom: 0;
  border-radius: 2px !important;
  background-color: #0F0D18;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #335B50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #335B50;
}

input:checked + .slider:before {
  transform: translateX(1.2vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.h2 {
  font-size: calc(10px + 0.8vw) !important;
}

.h3 {
  font-size: calc(8px + 0.6vw) !important;
  min-width: 20px !important;
}

.comment-p {
  max-width: 323px;
  text-align: center;
  font-size: calc(8px + 0.4vw) !important;
}

.icon-empty {
  min-width: 20px !important;
  width: 5vw;
  max-width: 50px !important;
  margin: 0 auto !important;
  display: block !important;
}

.btn-add-books {
  max-height: 55px;
  min-width: 100px !important;
  width: 60% !important;
  max-width: 280px !important;
  font-size: calc(8px + 0.5vw) !important;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-bottom: 1vw !important;
  padding-top: 0.6vw !important;
  margin: 0 auto !important;
  display: block !important;
}

.profileOperationHistory-empty {
  margin-left: 8vw !important;
}

.ProfileOperationHistory-order {
  background-color: #fff;
  width: 100%;
  min-width: 222px !important;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.ProfileOperationHistory-order-data {
  border-radius: 6px 6px 0 0;
  background-color: #F2F2EA;
}

.fotoBook-order {
  min-width: 30px;
  width: 2.8vw;
}

.order-id-data {
  min-width: 150px !important;
  width: 31vw;
}

.text-right {
  text-align: right;
  min-width: 50px !important;
  width: 20px !important;
}

.price-order {
  width: 31vw !important;
}/*# sourceMappingURL=ProfileOperationHistory.css.map */